
------------------------------------ Tao Database quan li sinh vien -----------------------------------
Use Master
GO
create database QLSV
--drop database QLSV
GO
use QLSV
--------------------------------------- Tao table SinhVien ----------------------------------------
GO
create table SinhVien
	(
	 MaSo 		int	not null primary key,
	 Hoten		nvarchar(50),	
	 NgaySinh 	datetime,
	 GioiTinh 	bit, 
	 DiaChi 	nvarchar(50),
	 Dienthoai	int,
	 MaKhoa 	nchar(6) 	not null
	)


----------------------------------------- Tao table Khoa ------------------------------------------

create table Khoa
	(
	 MaKhoa 	nchar(6) 	not null primary key,
	 TenKhoa 	nchar(50)
	)


----------------------------------------- Tao table MonHoc ----------------------------------------
-- drop table Mon
go
create table Mon
	(
	 MaMH 		nchar(6) primary key,
	 TenMH 		nchar(50),
	 SoTiet 		int
	)


---------------------------------------- Tao table KetQua -----------------------------------------

create table KetQua
	(
	 MaSo 		int not null,
	 MaMH 		nchar(6) not null,
	 LanThi 		int	not null,
	 Diem 		int
	)

---------------------------------- Tao rang buoc ve Primary Key -----------------------------------
alter table KetQua 		add constraint 	PK_KQ 	primary key(MaSo,MaMH)

---------------------------------- Tao rang buoc ve Foreign Key -----------------------------------

alter table SinhVien 	add constraint 	F_SV_KH foreign key(MaKhoa) references Khoa(MaKhoa)
alter table KetQua 	add constraint 	F_KQ_SV foreign key(MaSo)   references SinhVien(MaSo)
alter table KetQua 	add constraint 	F_KQ_MH foreign key(MaMH)   references Mon(MaMH)   

------------------------------- Nhap du lieu cho table Khoa ----------------------------------------

insert into Khoa(MaKhoa,TenKhoa) values ('CNTT','Cong nghe thong tin')
insert into Khoa(MaKhoa,TenKhoa) values ('Av','Anh van')
insert into Khoa(MaKhoa,TenKhoa) values ('TR','Triet hoc')


------------------------------- Nhap du lieu cho table Mon ----------------------------------------

insert into Mon(MaMH,TenMH,SoTiet) values ('CSDL','Co so du lieu',45)
insert into Mon(MaMH,TenMH,SoTiet) values ('CTDL','Cau truc du lieu',60)
insert into Mon(MaMH,TenMH,SoTiet) values ('VP','Van phong',60)


------------------------------- Nhap du lieu cho table SinhVien ----------------------------------------
set dateformat dmy
go


insert into SinhVien values ('91002','Tran Thi Thu','12/04/1975',0,'215/47/20 Tan Hoi',12346,'CNTT')
insert into SinhVien values ('91007','Nguyen Thi Thu Thao','04/02/1975',0,'115 Nguyen Du',44545,'CNTT')
insert into SinhVien values ('91023','Pham Nguyen Anh Huy','05/03/1974',1,'17/6 Tran Phu',657878,'CNTT')


------------------------------- Nhap du lieu cho table KetQua ----------------------------------------

insert into KetQua(MASO,MaMH,LanThi,Diem) values ('91045','VP',1,7)
insert into KetQua(MASO,MaMH,LanThi,Diem) values ('91088','VP',1,0)
insert into KetQua(MASO,MaMH,LanThi,Diem) values ('91102','VP',1,7)
-----------------------
--------------------------


--xem tung bang du lieu
select *from Khoa
select *from Mon
select *from SinhVien
select *from KetQua

--xoa tung bang du lieu ---Dung chay cac cau lenh nay

